// Your custom variables
$dark-slate-gray: #363054;
$slate-gray: #8a6a8d;
$slate-blue: #8a7dc1;
$light-steel-blue: #9da9dc;
$light-steel: #c1a1c3;

$primary-color: $dark-slate-gray;
$secondary-color: $light-steel;
$btn-default-color: $light-steel;
$default-color: $light-steel;
