.dark-slate-gray-text {
  color: #363054;
}
.slate-gray-text {
  color: #8a6a8d;
}

.slate-blue-text {
  color: #8a7dc1;
}

.light-steel-blue-text {
  color: #9da9dc;
}

.light-steel-text {
  color: #c1a1c3;
}
